name: ci

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-22.04
    if: startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Download project dependencies
        run: dotnet restore --locked-mode

      - name: Generate Linux x64 executable
        run: dotnet publish --runtime linux-x64 --self-contained true --no-restore
      - name: Upload Linux x64 executable
        uses: actions/upload-artifact@v6
        with:
          path: ./bin/Release/net10.0/linux-x64/publish/LicenseGenerator
          name: LicenseGenerator-Linux-x64

      - name: Generate OSX x64 executable
        run: dotnet publish --runtime osx-x64 --self-contained true --no-restore
      - name: Upload OSX x64 executable
        uses: actions/upload-artifact@v6
        with:
          path: bin/Release/net10.0/osx-x64/publish/LicenseGenerator
          name: LicenseGenerator-OSX-x64

      - name: Generate Windows x64 executable
        run: dotnet publish --runtime win-x64 --self-contained true --no-restore
      - name: Upload Windows x64 executable
        uses: actions/upload-artifact@v6
        with:
          path: bin/Release/net10.0/win-x64/publish/LicenseGenerator.exe
          name: LicenseGenerator-Windows-x64.exe

  create-release:
    permissions:
      contents: write

    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Create checksum file
        run: touch SHA256SUM

      - name: Download Linux x64 executable
        uses: actions/download-artifact@v7.0.0
        with:
          name: LicenseGenerator-Linux-x64
      - name: Rename executable file
        run: mv LicenseGenerator LicenseGenerator-Linux-x64
      - run: sha256sum LicenseGenerator-Linux-x64 >> SHA256SUM

      - name: Download OSX x64 executable
        uses: actions/download-artifact@v7.0.0
        with:
          name: LicenseGenerator-OSX-x64
      - name: Rename executable file
        run: mv LicenseGenerator LicenseGenerator-OSX-x64
      - run: sha256sum LicenseGenerator-OSX-x64 >> SHA256SUM

      - name: Download Linux x64 executable
        uses: actions/download-artifact@v7.0.0
        with:
          name: LicenseGenerator-Windows-x64.exe
      - name: Rename executable file
        run: mv LicenseGenerator.exe LicenseGenerator-Windows-x64.exe
      - run: sha256sum LicenseGenerator-Windows-x64.exe >> SHA256SUM

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            SHA256SUM
            LicenseGenerator-Windows-x64.exe
            LicenseGenerator-OSX-x64
            LicenseGenerator-Linux-x64
          make_latest: true
